*{
    margin: 0;
    padding: 0;
}
#main{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 2rem;
}

#display{
    width: 500px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
}

#keys{
    height: 700px;
    width: 500px;
    background-color: black;
}
.btn{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    margin: 10px;
    background-color: rgb(33, 32, 32);
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(92, 87, 87);
}
.btn:active{
    background-color: rgb(255, 255, 255);
}
.opreter{
    background-color: rgb(230, 153, 10);
}

.opreter:hover{
    background-color: rgb(195, 155, 80);
}
.opreter:active{
        background-color: rgb(255, 255, 255);
}

